<section>
    <a href="https://www.instagram.com/"  target="_blank" rel="noopener noreferrer">
        <div id="insta" class="insta"></div></a>
    <a href="https://www.patreon.com/" target="_blank" rel="noopener noreferrer">
        <div id="pat" class="pat"></div></a>
    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
        <div id="ytb" class="ytb"></div></a>
    <a href="https://www.itch.io/" target="_blank" rel="noopener noreferrer">
        <div id="itch" class="itch"></div></a>
    <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer">
        <div id="twt" class="twt"></div></a>
</section>
