<section>
    <h1>Social Media</h1>
    <p><span class="space">&nbsp;</span> <a class="pat">Pat<span class="arrow under">r</span>eon</a> <span class="small-space">&nbsp;</span> <a class="itch">Itch.io</a></p>
    <app-social-medias></app-social-medias>
    <p><a class="insta">Insta<span class="arrow">g</span>ram</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="ytb">You<span class="arrow">t</span>ube</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="twt">Twi<span class="arrow">t</span>ter</a></p>
</section>