/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
    background-image: repeating-linear-gradient(
        #0d0d0d 0px,
        #0d0d0d 1px,
        #262626 2px,
        #262626 3px
    );
    margin:0px;
    overflow-y:hidden;
    font-family:  'Pixelify Sans';
    color:white;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #fff #0d0d0d;   /* scroll thumb and track */ 
}

html {
    overflow-y:hidden;
    height: min-content;
    overflow-x:hidden;
}

*::-webkit-scrollbar {
    width: 2px;               /* width of the entire scrollbar */
}
  
*::-webkit-scrollbar-track {
    background: #0d0d0d;/* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;    /* color of the scroll thumb */
    border-radius: 0px;      /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}