<div class="grid">
    <div class="vnav" id="id_nav">
        <div class="links">
            <div class="link"><a routerLink="/main-projects-component" routerLinkActive="active">PROJECTS</a></div>
            <div class="link"><a routerLink="/gallery-component" routerLinkActive="active">GALLERY</a></div>
            <div class="link"><a routerLink="/free-stuff-component" routerLinkActive="active">FREE STUFF</a></div>
            <div class="link"><a routerLink="/about-me-component" routerLinkActive="active">ABOUT ME</a></div>
            <div class="link"><a href="/contact-component" routerLinkActive="active">CONTACT</a></div>
        </div>
        <div class="credits"><p>CREDITS DATE</p></div>
    </div>
    <div  class="main">
        <router-outlet></router-outlet>
    </div>
</div>